<link rel="stylesheet" href="./static/styles/navigation.css">

<div class="nav-content">
  <div class="dropdown">
    <span>About Robert</span>
    <div class="dropdown-content">
      <a href="/robert">
        Profile
      </a>
      <a href="/robert-hobbies">
        Hobbies
      </a>
    </div>
  </div>
  <a href="/">
      <div class="nav-logo">
          <img src="./static/img/logo.svg" />
      </div>
  </a>
  <div class="dropdown">
    <span>About Umar</span>
    <div class="dropdown-content">
      <a href="/umar">
        Profile
      </a>
      <a href="/umar-hobbies">
        Hobbies
      </a>
    </div>
  </div>
</div>